body {
    background: rgb(1, 36, 0);
    background: linear-gradient(90deg, rgba(1, 36, 0, 1) 0%, rgba(6, 93, 30, 1) 46%);
  }

  .cuadro {
    border: 1px dotted burlywood;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;

  }
  .disable {
pointer-events: none;
}

  img {
    width: 100px;
    height: 150px;
    border-radius: 15px;
    ;
  }

  #card-1,
  #card-2,
  #card-3,
  #card-4,
  #card-5,
  #card-6,
  #card-7,
  #card-8 {
    opacity: 0;
  }